/*---------RESET CSS---------
-----------------------------*/

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, iframe, figure {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}



li { list-style-type: none ; }

a { 
    text-decoration: none;
    
}

/*---------FONTS---------
-------------------------*/

:root {
    --playfair: 'Playfair Display';
    --comforta: 'Comfortaa', cursive;
    --nunito: 'Nunito Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

/*---------COLORS---------
--------------------------*/
:root {
--yellow : #ffc637;
}

/*---------BODY---------
------------------------*/



/*----------MAIN / GENERAL STYLES-----------
---------------------------*/
.point {
    color: var(--yellow);
}

.divPoints {
    font-size: 40px;
    letter-spacing: 30;
    color: var(--yellow); 
    margin: 40px 0;   
}



main {
    padding: 20px 40px;
    text-align: center;
    
}

button {
    color: black;
}



p {
    line-height: 1.7;
}

h2 {
    font-family: var(--poppins);
    font-size: 45px;
    padding: 20px;
    text-align: center;  
}


div {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
  
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
    


/*---------HEADER---------
--------------------------*/

header {
    background-color: var(--yellow);
}

h1 {
    text-align: center;
    padding: 10px ;
    margin-left: 20px;
   
}

nav { text-align: center; }

header li { 
    display: inline-block; 
    margin-bottom: 20px;
}

header a {
    padding-left: 20px;
    color: black;
    font-family: var(--nunito);
    font-weight: 700; 
}

header a:hover { color: white; }

/*---------PRESENTATION SECTION---------
----------------------------------------*/



h2:not(.h2Presentation) {
    margin-top: 40px;
}

.h2Presentation  { font-family: var(--playfair);
}

.presentation p {
    font-family: var(--comforta);
    padding-bottom: 30px;
    padding-left: 20px;
    line-height: 1.5;
    
    font-size: 18px;
}

.btnPresentation { text-align: center; }

.btnCv {
    background-color: var(--yellow);
    
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: 600;
    border: 1px solid var(--yellow);
    font-size: 16px;  
}

.btnCv:hover, .btnLinkedin:hover {
    background-color: black;
    color: white;
}

.btnLinkedin {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
}

/*---------ABOUT ME SECTION---------
----------------------------------------*/
/*.about {
    background-image: url('./assets/images/backgroundImage3.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}*/

/*--------- WHAT CAN I DO SECTION / PROJECTS SECTION---------
----------------------------------------*/
.iDoItems, .projectsItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-shadow: 10px 10px 10px 0px rgb(255,198,55, 0.3);
    padding: 20px;
}

.iDoItems h3, .projectsItems h3 {
    font-size: 25px;
    
}

/*--------- PROYECTS SECTION---------
----------------------------------------*/

.btnProjects {
    padding: 15px;
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}

.btnProjects:hover {
    background-color: var(--yellow);
    border: none;
    
}

.pointsLine {
    font-size: 40px;
    letter-spacing: 10;
    padding-left: 20px;
    color: var(--yellow);
}

.btnViewMore {
    background-color: var(--yellow);
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 50px;
    
}

.btnViewMore:hover {
    background-color: white;
    border: 1px solid black;
}


/*--------- SKILLS & TOOLS SECTION---------
----------------------------------------*/
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.skills figure {
    background-color: black;
    max-width: 100%;
    height: auto;
    padding: 15px;
    color: white;
}

.skills figure:hover {
    background-color: var(--yellow);
}

figcaption {
    padding-top: 10px;
    font-size: 10px;
}

/*---------FOOTER---------
--------------------------*/
.footer {
    background-color: var(--yellow);
    padding: 30px;
}

.footer h3 {
    font-size: 30px;
}

form {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

i {
    margin-right: 30px;
    font-size: 25px;
}

.footer i {
    margin-bottom: 30px;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: white;
}

.redes i{
    background-color: white;
    padding: 8px;
    border-radius: 10px;

}

.redes i:hover {
    font-size: 30px;
}

input, textarea {
    padding: 20px;
    width: 100%;
    margin-top: 20px;
}

form button {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}




/*CLEAR CODE BACKGROUND TOGETHER*/

@media (max-width: 576px) {
    
    body { 
        background-image: url('./assets/images/backgroundImage2.svg');
           
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: top right;
            font-family: var(--poppins);
        }
}

@media (min-width:576px){
    body { 
       background-image: url('./assets/images/backgroundImage2.svg');
       background-repeat: no-repeat;
       background-position: top right;
        }
}










/*
@media (min-width:768px) { */

    /*---------HEADER---------*/
    /*
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 90px;
    }
    
    header a { padding-left: 30px; }
    
    h1 {
        font-family: var(--comforta);
        color: var(--yellow);
        font-size: 18px;
        margin-left: 0;
        padding: 0;
    }
    */
    /*---------MAIN---------*/
    
   /* main { padding: 0 90px; }*/

   
    
    /*---------PRESENTATION SECTION---------*/
    
    /* .presentation { width: 60%; }
    
    h2 {
        padding: 0;
        font-size: 50px;
        text-align: left;
    }

    .presentation p {
        padding-left: 0;
        text-align: left;
        width: 70%;
        color: #828282;
    }

    .btnPresentation { text-align: left; }

    }



    @media (min-width:992px) {
        h2 {
            font-size: 60px;
        }
    }

    @media (min-width:1200px) {
        h2 {
            font-size: 70px;
        }
    }

    */










@media (min-width:576px) {
    body { background-color: red; }
}

@media (min-width:768px) {
    body { background-color: green; }
}

@media (min-width:992px) {
    body { background-color: yellow; }
}

@media (min-width:1200px) {
    body { background-color: aqua; }
}

@media (min-width:1400px) {
    body { background-color: fuchsia; }
}